# Supabase Configuration
VITE_SUPABASE_URL=https://sjtttdnqjgwggczhwzad.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here

# API Configuration
VITE_API_BASE_URL=https://sjtttdnqjgwggczhwzad.supabase.co/functions/v1
SUPABASE_ACCESS_TOKEN = sbp_18c9333c8fc8ef4ee6fd04bdfd81aa487f7db495
